@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Oswald&display=swap');

* {
    font-family: Oswald;
}

.hero-container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 32%;
    left: 20%;
}

.hero-button {
    width: 200px;
    height: 50px;
    color: black;
    border: 0;
    font-size: medium;
    border-radius: 30px;
    box-shadow: 1px 1px 3px 3px white
}

.hero-button:hover {
    opacity: 0.9;
    transform: scale(1.01);
}

.hero-header {
    font-size: xxx-large;
    margin-bottom: 15px;
    color: white;
}

.hero-sub-text {
    font-size: x-large;
    margin-bottom: 30px;
    color: white;
}

.why-us-item {
    width: 220px;
    text-align: center;
}

.why-us-image {
    width: 150px;
    height: 200px;
}

.why-us-container {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.why-us-header {
    text-align: center;
    font-size: xxx-large;
    margin-top: 120px;
    margin-bottom: 70px;
}

.ad-image {
    width: 50vw;
    height: 450px;
}

.ad-section {
    display: flex;
    background-color: white;
}

.ad-section-two {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    margin-bottom: 80px;
}


.ad-text-side {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
}

.ad-text {
    margin: auto;
    text-align: center;
    font-size: medium;
}

.ad-text-container {
    text-align: center;
}

.most-popular {
    text-align: center;
    background-color: white;
}

.thinking-person {
    width: 280px;
    border-radius: 50%;
}

.pepole-ranks {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 70px;
}

.ranks-header {
    display: flex;
    align-items: center;
    font-size: x-large;
    justify-content: center;
}


.ranks-images {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.ranks-content {
    display: flex;
    height: 360px;
    justify-content: space-evenly;
}

.ranks1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    row-gap: 7px;
}

.ranks2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 7px;
}

.ranks3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 7px;
}

.ranks4 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    row-gap: 7px;
}

.ranks5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 7px;
}

.popular-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
    row-gap: 30px;
}

.stars {
    width: 140px;
}

@media screen and (max-width: 1050px) {
    .hero-header {
        font-size: xx-large;
    }

    .hero-sub-text {
        font-size: larger;
    }

    .hero-button {
        width: 150px;
    }

    .ad-section {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .ad-image {
        width: 100vw;
    }

    .ad-text-side {
        width: 100vw;
    }

    .ad-section-two {
        flex-direction: column;
    }

    .ranks-content {
        flex-direction: column;
        height: fit-content;
        row-gap: 26px;
    }

    .ranks1 {
        flex-direction: column;
    }

    .ranks4 {
        flex-direction: column;
    }
}


@media screen and (max-width: 775px) {
    .hero-container {
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .why-us-image {
        width: 220px;
        height: 220px;
    }

    .why-us-container {
        flex-direction: column;
    }

    .why-us-text {
        font-size: x-large;

    }

    .ranks-header {
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 30px;
    }
}


@media screen and (max-width: 570px) {
    .why-us-image {
        width: 160px;
        height: 160px;
    }

    .why-us-text {
        font-size: larger;
    }

    .ad-text {
        font-size: small;
        font-weight: bolder;
    }
}